:root {
  --whiteish: #FFD460;
  --orangeish: #F07B3F;
  --grayish: #2D4059;
  --redish: #EA5455;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--whiteish);
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background: var(--whiteish);
  height: 100vh;
  width: 100vw;
  /* padding: 20px; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: var(--grayish);
  color: var(--redish);
  font-weight: 600;
  font-size: 40px;
  padding: 10px;
  gap: 20px;
}

.yellowHover {
  cursor: pointer;
}

.yellowHover:hover {
  color: var(--whiteish);
  transition: all .3s ease;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#dice {
  font-size: 300px;
  font-weight: 800;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--redish);
  cursor: pointer;
  transition: .5s;
  border: #172940 1px solid;
  border-radius: 10px;
  margin: 30px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#dice:hover {
  color: #d94444;
  /* transform: rotate(112deg); */
}

button {
  /* border: none; */
  height: 100px;
  width: 250px;
  font-size: 50px;
  background-color: var(--grayish);
  color: var(--redish);
  border: var(--redish) solid 5px;
  border-radius: 15px;
  transition: all .5s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

button:hover {
  background-color: #172940;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

caption {
  height: fit-content;
}

.total {
  display: flex;
  margin: 10px;
  font-size: 20px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 406px) {
  .icon {
    display: none;
  }
}

.soundOn {
  height: 200px;
}